**/.DS_Store
**/.idea
**/node_modules
**/yarn-error.log

# C/C++ compiled files
**/*.o
**/*.out
**/a.out
c/myproj/myapp
c/pipe_test
c/dup_test
c/custom_cwd
c/mask_pending_demo
c/sigaction_basic
c/signal_ctrlc
c/suspend_demo
c/environ_demo
c/set_uid_demo
c/getrusage_demo
c/time_demo
