[submodule "ts/swaiperjs-react-demo"]
	path = ts/swaiperjs-react-demo
	url = git@github.com:igsr5/swaiperjs-react-demo.git
[submodule "ts/react-flip-move-demo"]
	path = ts/react-flip-move-demo
	url = git@github.com:igsr5/starter-nextjs-app.git
