# Compiled binaries
server
simple_http_server
exercises/exercise_5_8_1
exercises/exercise_5_8_1_alt
exercises/five_eight_one
exercises/exercise_5_8_2
exercises/exercise_6_11_1
exercises/exercise_7_4_1
exercises/execise_7_4_2
exercises/execise_7_4_2_alt
exercises/execise_8_3_1
